
@{
    ViewData["Title"] = "Index";
}

    <div class="text-center">
        <form method="post">
            <div class="form-group">
                <textarea name="Description" id="Description"
                          rows="10" cols="40">
        </textarea>
                @*@Html.TextArea("txtComments", htmlAttributes: new
            { @style = "width: 450px;", @placeholder = "Enter Comments here", @row = 100 })*@
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" asp-action="SentiAnalays" value="Post" />
                <input type="reset" class="btn btn-warning" value="Reset" />
                <input type="submit" class="btn btn-danger" asp-action="CreateModel" value="Create Model" />
                <input type="submit" class="btn btn-info" asp-action="GetLog" value="Log" />

            </div>
            @if (@ViewBag.SentimentResult != "" && @ViewBag.SentimentResult != null)
            {
                <div class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    @ViewBag.SentimentResult
                </div>
            }
        </form>
    </div>

